*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  line-height: 1.5;
  font-family: "Courgette";
}

.scrolls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.smooth {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.HideAppBar {
  position: fixed;
  top: 0;
  z-index: 1;
}

.HideAppBar header {
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

.HideAppBar__item {
  font-family: "Courgette" !important;
  text-decoration: none !important;
}

.HideAppBar__item a {
  text-decoration: none !important;
  text-transform: uppercase;
  color: black;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 35px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.5);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
}

.header ul li {
  margin: 0 1rem;
  padding: 0 1rem;
}

.header ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 599;
  color: black;
}

section::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

#home::before {
  background-image: url(home.jpg);
}

#home.xs::before {
  left: -200px;
}

#itinerary::before {
  background-image: url(itinerary.jpg);
}

#accommodation::before {
  background-image: url(accommodation.jpg);
}

#accommodation.xs::before {
  left: -150px;
}

#taxis::before {
  background-image: url(taxis.jpg);
}

#rsvp::before {
  background-image: url(rsvp.jpg);
}

.section-content {
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 0px 20px;
  box-shadow: 2px 2px rgb(255 255 255 / 60%);
}

.App__headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 1.5rem;
}

.App__headlineName {
  font-size: 1.9rem;
}

.App__headlineDate {
  font-size: 2.5rem;
}

.App__headlineLocation {
  font-size: 1.5rem;
}

.App__itinerary {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.App__itineraryLocation {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

.App__itineraryContent {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  font-size: 1.3rem;
}

#accommodation {
  font-size: 2rem;
}

#accommodation ul {
  font-size: 1.5rem;
}

#accommodation.xs ul {
  font-size: 1rem;
}

#accommodation ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#accommodation li div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#accommodation.xs li div {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.App__accommodation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#taxis {
  font-size: 2rem;
}

#taxis ul {
  font-size: 1.5rem;
}

#taxis.xs ul {
  font-size: 1rem;
}

#taxis ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#taxis li div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#taxis.xs li div {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.App__taxis {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App__rsvp {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  font-size: 1.5rem;
}

.App__rsvpEmail.xs {
  font-size: 0.9rem;
}
